.heart {
  cursor: pointer;
  transition: filter .3s ease;

  &:hover {
    filter: drop-shadow(0 0 8px #ff00ff) drop-shadow(0 0 15px #00f0ff);
  }

  img {
    max-width: 100%;
  }
}


.heart--beating {
  animation: heartbeat 1.6s ease-in-out infinite;
}

.page {
  height: 100%;
  overflow: auto;
  padding: 4.8rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand {
  margin-top: 3.2rem;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4em;
  font-size: 40px;
}

h2 {
  font-size: 28px;
  line-height: 1.4em;
  color: #aeaeae;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(45deg, #0D79F2, #E40DF2);
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
