html, body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  color: whitesmoke;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}
